.bubble {
    position: relative;
    margin: 10px;
    max-width: 50vw;
    /*padding: 20px;*/
    /*width: 200px;*/
    /*height: 60px;*/
    color: #000;
    border-radius: 10px;
    background-color: #fff;
}

.bubble:after {
    content: "";
    position: absolute;
    top: 11px;
    left: -10px;
    border-right: 10px solid #fff;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
}
.reverse_bubble {
    position: relative;
    max-width: 50vw;
    padding: 1rem;
    color: #000;
    border-radius: 10px;
    background-color: #ffeb33;
}

.reverse_bubble:after {
    content: "";
    position: absolute;
    top: 11px;
    right: -10px;
    border-left: 10px solid #ffeb33;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
}
.btn_send:hover {
    background-color: #ffeb33;
}

.bubble {
    opacity: 1;
    transform: translateY(0);
}

.bubble.inactive {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #bacee0;
    z-index: 2;
}
.footer_icon_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_icon_left_box {
    font-size: 2rem;
    min-width: 15rem;
    display: flex;
    justify-content: space-between;
    color: grey;
    padding: 1rem;
}
.footer_icon_right_box {
    display: flex;
    flex-direction: row;
}

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 50%, 0);
        }
        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
.bubble_animation {
            position: relative;
        animation: fadeInUp 0.5s;
}


.spinner{
  width:24px;
  height:24px;
  border:4px solid #67727c;
  border-top:4px solid white;
  border-radius:50%;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}